$mainColor: #E0E4CC;
$titleColors: (
    "first-color": #69D2E7,
    "second-color":  #F38630,
    "third-color":  #E9AEAF,
);
$titleFirstColor: #69D2E7;
$titleSecondColor: #F38630;
$titleThirdColor: #E9AEAF;
$backgroundColor: white;
$textColor: black;