@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$defaultFontSize: 16px;
$headerTitleFontSize: 2 * $defaultFontSize;
$titleFontSize: 1.5 * $defaultFontSize;
$defaultFontfamily: 'Open Sans', sans-serif;
